/* Common style sheet for Tech Notes */

* {margin: 0; padding: 0; border-width: 0;}
body {margin: 8px; background-color: #e0ffff; font-color: black; font-family: serif; line-height: 133%; max-width: 1024px;}
a:link {color: blue;}
a:visited {color: darkmagenta;}
a:hover {background-color: #a0ffff;}
a:active {color: darkmagenta; overflow: hidden; outline:none; position: relative; top: 1px; left: 1px;}
abbr {border-width: 1px;}

p {text-indent: 0; margin: 0 0 0.4em 0;}
i {margin: 0 0.3em 0 0;}
b {margin: 0 0.1em;}
em {font-style: normal; font-weight: bold; margin: 0 0.1em;}
strong {font-style: normal; font-weight: bold; color: red; margin: 0 0.1em;}
tt {margin: 0 0.2em; font-family: monospace;}
ul {margin: 1em 2.5em;}
ol {margin: 1em 2.5em;}
dl {margin: 0.5em 1.5em;}
dt {margin: 0.5em 0 0 0 ; font-weight: bold;}
dd {margin: 0 1em;}
hr {border-width: 1px;}
div.abst {font-family: sans-serif;}
div.para {clear: both;}
.equ {text-indent: 0; margin: 1em 2em 1em;}
.indent {margin-left: 2em;}
ul.flat {margin: 0;}
.rset {float: right; margin: 0.3em 0 0.5em 1em;}
.lset {float: left; margin: 0.3em 1em 0.5em 0;}
ul.flat li {list-style-type: none;}
a.imglnk img {border: 1px solid;}
.iequ {white-space: nowrap; font-weight: bold;}
.clr {clear: both;}
.it {font-style: italic;}
pre {border: 1px dashed gray; margin: 0.5em 1em; padding: 0.5em; line-height: 1.2em; font-size: 85%; font-family: "Consolas", "Courier New", monospace; background-color: white;}
pre em {font-style: italic; font-weight: normal;}
pre.lst {background-color: white; float: left; line-height: 1em; padding: 0.5em; margin: 1em;}
.lst {letter-spacing: 0;}
pre span.c {color: green;}
pre span.k {color: blue;}
.lth {text-decoration: line-through;}
.mfd {font-size: 0.7em; padding: 0 1px; border: 1px solid; white-space: nowrap;}


h1 {float: left; line-height: 1em; font-size: 2em; font-family: sans-serif; padding: 0.3em 0 0.3em;}
p.hdd {float: right; text-align: right; margin-top: 0.5em;}
hr.hds {clear: both; margin-bottom: 1em;}

h3 {font-size: 1.5em; font-family: sans-serif; margin: 2em 0 0.5em; border-color: #b0d8d8; border-style: solid; border-width: 0px 0px 4px 12px; padding: 4px;}
h4 {font-size: 1.2em; font-family: sans-serif; margin: 1em 0 0.2em;}
h5 {font-size: 1em; font-family: sans-serif; margin: 0.5em 0 0em;}
.indent {margin-left: 2em;}


/* Tables */
table.lst {margin: 4px; border-collapse: collapse; border-style: solid; border-width: 2px; border-color: black;}
table.lst th {background-color: white; border-style: solid; border-width: 1px 1px 2px; border-color: black; padding: 1px 3px; vertical-align: top; font-family: monospace; white-space: nowrap;}
table.lst td {background-color: white; border-style: solid; border-width: 1px; border-color: black; padding: 1px 3px; vertical-align: top; font-family: monospace; white-space: nowrap; line-height: 1.3em;}

table.lst4 {margin: 5px 5px 1em 5px; border-collapse: collapse; border-style: solid; border-width: 2px; border-color: black;}
table.lst4 th {background-color: white; border-style: solid; border-width: 1px 1px 2px; border-color: black; padding: 1px 3px; vertical-align: top; white-space: nowrap;}
table.lst4 td:first-child {padding: 3px; font-family: monospace; line-height: 1.3em; white-space: nowrap;}
table.lst4 td {background-color: white; border-style: solid; border-width: 1px; border-color: black; padding: 1px 3px; vertical-align: top; line-height: 1.3em}

p.foot {clear: both; text-indent: 0; margin: 2em 1em 1em;}
